{{!-- main game --}}



{{!-- red timer bar at top --}}



<div class="card" id='modules' style="width: 70%; height: 25rem;margin-top:10px; margin-bottom:20px;">

  {{>prompt}}
</div>
<div id='modules'>

  <div class="card-body" style='position:relative'>
    {{>keyboard}}
    {{!-- <h5 class="card-title">{{prompt}}</h5> --}}

  </div>
</div>


<style>
  #modules {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  body {
    background-image: url('/assets/cloudbackground.jpg');
    background-size: cover;
  }
</style>