<a href='/game'>
    <div class="card" id='clickme' style="width: 90%; height: 52rem;">
        <h1>Click anywhere to begin</h1>
    </div>
</a>

<style>
    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #clickme {

        background-image: url('/assets/cloudbackground.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>