<div style="width:90%; margin:auto">
    I am logged in: {{ loggedIn }}

    <label for="user">Username</label>
    <input id="username" name="user" type="text" style="border-radius: 10px" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" style="border-radius: 10px" />
    <button class='button' id="login">Log In</button>
</div>


<form class="form signup-form" style="width:90%; margin:auto">
    <div class="form-group">
        <label for="name-signup">Username:</label>
        <input class="form-input" type="text" id="name-signup" style="border-radius: 10px" />
    </div>
    <div class=" form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" style="border-radius: 10px" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary button" type="submit" id="signup">Signup</button>
    </div>
</form>

<script>
    document.getElementById('login').addEventListener('click', function () {
        fetch('/users/login', {
            method: 'POST',
            body: JSON.stringify({
                username: document.getElementById('username').value,
                password: document.getElementById('password').value
            }),
            headers: {
                "Content-Type": 'application/json'
            }
        }).then(res => {
            console.log(res)
        }).catch(err => {
            console.log(err)
        })
    });

    document.querySelector('.signup-form').addEventListener('submit', function (e) {
        e.preventDefault();
        const body = JSON.stringify({
            username: document.getElementById('name-signup').value,
            password: document.getElementById('password-signup').value
        });

        console.log("payload", body)

        fetch('/users/register', {
            method: 'POST',
            body,
            headers: {
                "Content-Type": 'application/json'
            }
        }).then(res => {
            console.log(res)
        }).catch(err => {
            console.log(err)
        })
    })
</script>
<style>
    body {
        background-image: url('/assets/cloudbackground.jpg');
        background-size: cover;
    }
</style>