<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
        crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1e23fbffec.js" crossorigin="anonymous"></script>

    <link rel='stylesheet' type="text/html" href="/public/stylesheets/style.css">
    <title>Type{Scripts}</title>
</head>

<body>

    <header class="top-bar topnav" id="myTopnav">
        <div class="top-bar-left">
            <ul class="menu">

                <li class="menu-text"><a href="/"><i class="fas fa-laptop-code"></i><span> Type{Scripts}</span></a></li>
                <li style='margin-top:10px'><a href="/"><i class="fas fa-home"></i><span> Home</span></a></li>
                <li style='margin-top:10px'><a href="/game"><i class="fas fa-keyboard"></i><span> Type!</span></a></li>
                <li style='margin-top:10px'><a href="/highscores"><i class="fas fa-crown"></i><span>
                            Highscores</span></a></li>

            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu ">
                <li><a href="/login"><i class="fas fa-sign-in-alt"></i><span> Login</span></a>

            </ul>
        </div>

        <style>
            .topnav a:hover {
                background-color: #ddd;
                color: black;
            }

            .topnav a.active {
                background-color: #04AA6D;
                color: white;
            }
        </style>
    </header>


    <main>

        {{{body}}}

        {{!-- game module --}}

    </main>

    <footer class="grid-x grid-padding-x align-spaced align-bottom"
        style="position:fixed; bottom:0; height: 2.5rem; width:100%;background-color:#e6e6e6;border-radius:5px;color:#1779ba">
        <!-- Aligned to the center -->
        <div style="margin-bottom: 5px;font-weight:bold"><i class="fas fa-laptop-code"></i><span> Type{Scripts}
                L.L.C</span></div>

    </footer>





</body>

</html>